/*! 간결한 Normalize.css | MIT License */

/* 문서
   ========================================================================== */

/**
 * 1. 모든 브라우저에서 기본 줄 높이를 설정합니다.
 * 2. iOS에서 화면 방향 변경 시 글꼴 크기 조정 방지.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* 기본 스타일
   ========================================================================== */

/**
 * 모든 브라우저에서 기본 여백 제거.
 */

body {
  margin: 0;
}

/**
 * HTML5 `main` 요소를 모든 브라우저에서 일관되게 표시.
 */

main {
  display: block;
}

/* 텍스트 스타일
   ========================================================================== */

/**
 * 모든 링크의 배경 색상을 제거.
 */

a {
  background-color: transparent;
}

/**
 * 굵은 글씨를 브라우저마다 일관되게 표시.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 작은 글씨 크기를 설정.
 */

small {
  font-size: 80%;
}

/* 내장 콘텐츠
   ========================================================================== */

/**
 * 이미지의 기본 테두리 스타일 제거.
 */

img {
  border-style: none;
}

/* 폼 요소
   ========================================================================== */

/**
 * 폼 요소의 글꼴 스타일을 상속받도록 설정.
 * 여백 제거.
 */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * 체크박스와 라디오 버튼의 박스 크기와 여백 초기화.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * 텍스트 검색 필드에서 기본 장식 제거.
 */

[type="search"] {
  -webkit-appearance: textfield;
}

/* 숨김 요소
   ========================================================================== */

/**
 * 숨김 요소를 브라우저에서 표시되지 않도록 설정.
 */

[hidden] {
  display: none;
}
